
<!DOCTYPE html>



<style>

  h2 {

    color: lawngreen;
    font-size: 80px;
    size: 3500px;
  }


  body {
    background-color: cornflowerblue;
    color: lawngreen;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    height: 50px;
    vertical-align: bottom;
  }

  td {
    background-color: firebrick;
    color: white;
    font-size: 25px;
    size: 3500px;


  }

  type = "text/css"> body{
                     background:red;
                   }




  tr:hover {background-color: #CCCCCC;}
  <!--


</style>




<body style="background-color:black">





<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<pre>


  </pre>






<div class="container">
  <div class="row">
    <title>MENU PRINCIPAL (OFAP) </title>


    <h2 style="color: white">________________________________________________________________________________________________________   <pre>
     </pre></h2>

    <h2 style="color: white"><pre></pre> ___________________________________  Universos OFAP  _____________________<pre></pre><div align="right"><img class="" src="http://www.gifmania.com/Gif-Animados-Espacio/Imagenes-Astronomia/Agujeros-Negros/Gravedad-Agujero-Negro-84961.gif" alt="center"> <img class="center" src="http://www.gifmania.com/Gif-Animados-Espacio/Imagenes-Astronomia/Planetas/Planetas-Mano-85126.gif" ></div></h2>




    <h2 style="color: white">________________________________________________________________________________________________________</h2>

    <table class="table">
      <th> <div class=""></div>
      </th>


      </thead>


      <tbody>
      <tr>
        <th scope="row"></th>
        <td>REGISTRESE PREVIAMENTE</td>

        <pre>

     </pre>
        <td>

          <div class="row">

            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre: </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ej: oscar">
                <small id="emailHelp" class="form-text text-muted">Trabajo elaborado por Oscar Aguilar.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Apellidos</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="aguilar">
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  Acepto
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>

              <script>window.alert('Bienvenido');</script>
            </form>

          </div>
        </td>
      </tbody>









      </tr>

      <tr>
        <th scope="row"></th>
        <pre>





          </pre>

        <h2> .    </h2>

      </tr>

      <tr>

        <th scope="row"></th>
        <td>Cometas </td>
        <td><button type="button" class="btn btn-danger" value="Informacion" onClick="window.location = 'http://www.astromia.com/solar/cometas.htm';"> Informacion</button></td>

      </tr>



      <tr>
        <th scope="row"></th>

        <td>Meteoritos </td><td><button type="button" class="btn btn-error" value="Informacion" onClick="window.location = 'http://www.astromia.com/solar/meteoritos.htm';"> Informacion</button></td>

      </tr>


      <tr>
        <th scope="row"></th>

        <td>Asteroides </td><td><button type="button" class="btn btn-primary" value="Informacion" onClick="window.location = 'http://www.astromia.com/solar/asteroides.htm';"> Informacion</button></td>






      </tr>
      <tr>
        <th scope="row"></th>

        <td>Estrellas </td><td><button type="button" class="btn btn-success" value="Informacion" onClick="window.location = 'http://www.astromia.com/universo/estrellas.htm';"> Informacion</button></td>


      </tr>


      <tr>
        <th scope="row"></th>

        <td>Galaxias </td><td><button type="button" class="btn btn-success" value="Informacion" onClick="window.location = 'http://www.astromia.com/universo/lasgalaxias.htm';"> Informacion</button></td>


      </tr>


      <tr>
        <th scope="row"></th>

        <td>Satelites naturales </td><td><button type="button" class="btn btn-error" value="Informacion" onClick="window.location = 'https://www.muyinteresante.es/curiosidades/preguntas-respuestas/satelite';"> Informacion</button></td>


      </tr>





      <tr>
      </tr></table>

    </tbody>

  </div>


</body>
<pre>








  </pre>

<h2 style="color: white">  _______________________________________________________________________________________________________  <pre>                           </pre> </h2>

<h2 style="color: white">Acerca de Planetas OFAP!   </h2>

<h2 style="color: white"> _______________________________________________________________________________________________________  </h2>
<pre>





  </pre>

<h5 style="color: white">El Grupo de Investigación en Astronomia OFAP de la Universidad Tecnológica Centroamericana CEUTEC es una agrupación
  investigativa abierta a toda la comunidad universitaria interesada en la astronomía, cuyo fin es crear un espacio web
  para la investigación, discusión y el aprendizaje de esta ciencia, por medio de la realización de actividades de difusión
  del conocimiento que permita la integración de todos sus miembros.


  Un planeta es, según la definición adoptada por la Unión Astronómica Internacional, un cuerpo celeste que:1​

  Orbita alrededor de una estrella o remanente de ella.
  Tiene suficiente masa para que su gravedad supere las fuerzas del cuerpo rígido, de manera que asuma una forma en equilibrio hidrostático (prácticamente esférica).
  Ha limpiado la vecindad de su órbita de planetesimales, o lo que es lo mismo tiene dominancia orbital.
  No emite una luz propia.
  Según la definición, el sistema solar consta de ocho planetas: Mercurio, Venus, Tierra, Marte, Júpiter, Saturno, Urano y
  Neptuno. En cambio Plutón, que hasta 2006 se consideraba un planeta, ha pasado a clasificarse como planeta enano, junto
  a Ceres, también considerado planeta durante algún tiempo, ya que era un referente en la ley de Titius-Bode, y más
  recientemente considerado como asteroide y Eris, un objeto transneptuniano similar a Plutón. Ciertamente, desde los años
  setenta existía un amplio debate sobre el concepto de planeta a la luz de los nuevos datos referentes al tamaño de Plutón
  (menor de lo calculado en un principio), un debate que aumentó en los años siguientes al descubrirse nuevos objetos que
  podían tener tamaños similares. De esta manera, esta nueva definición de planeta introduce el concepto de planeta enano,
  que incluye a Ceres, Plutón, Haumea, Sedna, Makemake y Eris; y tiene la diferencia de definición en (3), ya que no ha
  despejado la zona local de su órbita y no es un satélite de otro cuerpo.

  Los cuerpos que giran en torno a otras estrellas se denominan generalmente planetas extrasolares o exoplanetas Las condiciones
  que han de cumplir para ser considerados como tales son las mismas que señala la definición de planeta para el sistema solar,
  si bien giran en torno a sus respectivas estrellas. Incluyen además una condición más en cuanto al límite superior de su tamaño,
  que no ha de exceder las 13 masas jovianas y que constituye el umbral de masa que impide la fusión nuclear de deuterio.

  <pre>





  </pre>
  </div>
  <img class="center" src="http://2.bp.blogspot.com/-2PVHgnbZ4fU/VhvnVbCKK3I/AAAAAAAAcJQ/7quTYt3Ysqg/s640/Planetas%2B2.jpg" alt="center">





  </div>

  <pre>






</pre>

  </pre>




  <h2 style="color: white">  _______________________________________________________________________________________________________  <pre>                           </pre> </h2>

  <h2 style="color: white">Acerca de COMETAS OFAP!   </h2>

  <h2 style="color: white"> _______________________________________________________________________________________________________  </h2>
  <pre>





  </pre>

   <div style="text-align:justify"> <h5 style="color: white">El Grupo de Investigación en Astronomia OFAP de la Universidad Tecnológica Centroamericana CEUTEC es una agrupación
    investigativa abierta a toda la comunidad universitaria interesada en la astronomía, cuyo fin es crear un espacio web
    para la investigación, discusión y el aprendizaje de esta ciencia, por medio de la realización de actividades de difusión
    del conocimiento que permita la integración de todos sus miembros.


    Un planeta es, según la definición adoptada por la Unión Astronómica Internacional, un cuerpo celeste que:1​

    Orbita alrededor de una estrella o remanente de ella.
    Tiene suficiente masa para que su gravedad supere las fuerzas del cuerpo rígido, de manera que asuma una forma en equilibrio hidrostático (prácticamente esférica).
    Ha limpiado la vecindad de su órbita de planetesimales, o lo que es lo mismo tiene dominancia orbital.
    No emite una luz propia.
    Según la definición, el sistema solar consta de ocho planetas: Mercurio, Venus, Tierra, Marte, Júpiter, Saturno, Urano y
    Neptuno. En cambio Plutón, que hasta 2006 se consideraba un planeta, ha pasado a clasificarse como planeta enano, junto
    a Ceres, también considerado planeta durante algún tiempo, ya que era un referente en la ley de Titius-Bode, y más
    recientemente considerado como asteroide y Eris, un objeto transneptuniano similar a Plutón. Ciertamente, desde los años
    setenta existía un amplio debate sobre el concepto de planeta a la luz de los nuevos datos referentes al tamaño de Plutón
    (menor de lo calculado en un principio), un debate que aumentó en los años siguientes al descubrirse nuevos objetos que
    podían tener tamaños similares. De esta manera, esta nueva definición de planeta introduce el concepto de planeta enano,
    que incluye a Ceres, Plutón, Haumea, Sedna, Makemake y Eris; y tiene la diferencia de definición en (3), ya que no ha
    despejado la zona local de su órbita y no es un satélite de otro cuerpo.

    Los cuerpos que giran en torno a otras estrellas se denominan generalmente planetas extrasolares o exoplanetas Las condiciones
    que han de cumplir para ser considerados como tales son las mismas que señala la definición de planeta para el sistema solar,
    si bien giran en torno a sus respectivas estrellas. Incluyen además una condición más en cuanto al límite superior de su tamaño,
    que no ha de exceder las 13 masas jovianas y que constituye el umbral de masa que impide la fusión nuclear de deuterio.

    <pre>





  </pre>
    </div>
  </div>
    <img class="center" src="https://st2.depositphotos.com/3408821/10382/v/950/depositphotos_103821588-stock-illustration-comets-in-space.jpg" alt="center">






    <pre>






</pre>

    </pre>




    <h2 style="color: white">  _______________________________________________________________________________________________________  <pre>                           </pre> </h2>

    <h2 style="color: white" >Acerca de COMETAS OFAP!   </h2>

    <h2 style="color: white"> _______________________________________________________________________________________________________  </h2>
    <pre>





  </pre>

  <div style="text-align:justify"><h5 style="color: white">El Grupo de Investigación en Astronomia OFAP de la Universidad Tecnológica Centroamericana CEUTEC es una agrupación
      investigativa abierta a toda la comunidad universitaria interesada en la astronomía, cuyo fin es crear un espacio web
      para la investigación, discusión y el aprendizaje de esta ciencia, por medio de la realización de actividades de difusión
      del conocimiento que permita la integración de todos sus miembros.


      Un planeta es, según la definición adoptada por la Unión Astronómica Internacional, un cuerpo celeste que:1​

      Orbita alrededor de una estrella o remanente de ella.
      Tiene suficiente masa para que su gravedad supere las fuerzas del cuerpo rígido, de manera que asuma una forma en equilibrio hidrostático (prácticamente esférica).
      Ha limpiado la vecindad de su órbita de planetesimales, o lo que es lo mismo tiene dominancia orbital.
      No emite una luz propia.
      Según la definición, el sistema solar consta de ocho planetas: Mercurio, Venus, Tierra, Marte, Júpiter, Saturno, Urano y
      Neptuno. En cambio Plutón, que hasta 2006 se consideraba un planeta, ha pasado a clasificarse como planeta enano, junto
      a Ceres, también considerado planeta durante algún tiempo, ya que era un referente en la ley de Titius-Bode, y más
      recientemente considerado como asteroide y Eris, un objeto transneptuniano similar a Plutón. Ciertamente, desde los años
      setenta existía un amplio debate sobre el concepto de planeta a la luz de los nuevos datos referentes al tamaño de Plutón
      (menor de lo calculado en un principio), un debate que aumentó en los años siguientes al descubrirse nuevos objetos que
      podían tener tamaños similares. De esta manera, esta nueva definición de planeta introduce el concepto de planeta enano,
      que incluye a Ceres, Plutón, Haumea, Sedna, Makemake y Eris; y tiene la diferencia de definición en (3), ya que no ha
      despejado la zona local de su órbita y no es un satélite de otro cuerpo.

      Los cuerpos que giran en torno a otras estrellas se denominan generalmente planetas extrasolares o exoplanetas Las condiciones
      que han de cumplir para ser considerados como tales son las mismas que señala la definición de planeta para el sistema solar,
      si bien giran en torno a sus respectivas estrellas. Incluyen además una condición más en cuanto al límite superior de su tamaño,
      que no ha de exceder las 13 masas jovianas y que constituye el umbral de masa que impide la fusión nuclear de deuterio.

      <pre>





  </pre>
      </div>
  <div align="center"> <img class="right" src="https://i.giphy.com/media/l0NwFcJFCQ49XqV5C/giphy.webp" alt="center"></div>









      </div>
      </div>

      </div>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>



      </html>
